.color-box{
    height: 100%;
    position: relative;
    transition: all 0.6s;
    &:hover .color-box-copy{
        opacity: 1;
    }
}

.color-box-title{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0rem 0.5rem;
    font-size: 12px;
}

.color-box-copy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    background: rgba($color: #ffffff, $alpha: 0.3);
    transition: all 0.6s;
    opacity: 0;
}

.color-box-copied{
    position: absolute;
    z-index: 30;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s;
}

.color-box-more{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .2rem;
    font-size: 12px;
    padding: 0.5rem 0.5rem;
    background: rgba($color: #fff, $alpha: 0.3);
    z-index: 100;
}
