<mat-card class="post-card">
    <mat-card-header>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.date | date:'long':null:'ru'}}</mat-card-subtitle>
        <mat-card-subtitle>{{post.author}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{post.text}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button [routerLink]="['/post', post.id]" mat-button>Open</button>
        <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
</mat-card>

