<div *ngIf="post$ | async as post; else loading">
    <mat-card class="post-page-card">
        <mat-card-actions>
            <button [routerLink]="'/'" mat-button>Back</button>
        </mat-card-actions>
        <mat-card-header>
            <mat-card-title>{{post.author}}</mat-card-title>
            <mat-card-subtitle>{{post.date | date:'dd:MM.yyyy'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <quill-view-html [content]="post.text"></quill-view-html>
        </mat-card-content>
    </mat-card>

</div>


<ng-template #loading>
    <p>Loading...</p>
</ng-template>