/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #e4e8e9; }

// @media (min-width: 576px) {  }
// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {  }
// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {  }
// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {  }