.palette{
    // display: flex;
    // flex-wrap: wrap;
    // height: 100vh;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
}

.single-palette{
    position: relative;
    // display: flex;
    // align-items: flex-end;
    // flex: 20%;
    // min-height: 100px;
    // height: 100%;
    // justify-self: stretch;
    // align-self: stretch;
    // justify-content: stretch;
    // align-items: stretch;
    // border: 1px solid black;
}

.single-palette-name{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5rem;
    font-size: 14px;
}

.single-palette-copy-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    background: rgba($color: #ffffff, $alpha: 0.3);
}

.slider-level{
    padding: 0rem 1rem;
}


.single-palette-footer{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    background: #f8f9fc;
}

.single-palette-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 50%;
    margin: 0.1rem 2rem;
}

mat-slider{
    width: 500px;
}

.slider{
    display: flex;
}