<div class="palette-container">
    <div class="single-palette-header">
        <div class="color-app-logo" [routerLink]="['/']">Color App</div>
        <div class="slider">
            <mat-slider min="100" max="900" step="100" tickInterval="1" [(ngModel)]="level" color="primary" ></mat-slider>
            <p class="slider-level">{{level}}</p> 
        </div>
        <mat-form-field>
            <mat-select matNativeControl [(ngModel)]="format">
                <mat-option [value]="'hex'">HEX - #000</mat-option>
                <mat-option [value]="'rgb'">RGB - rgb(0,0,0)</mat-option>
                <mat-option [value]="'rgba'">RGBA - rgba(0,0,0, 1.0)</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="palette">
        <app-color-box *ngFor="let color of palette.colors[level]" [name]="color.name" [colorId]="color.id" [background]="color[format]"></app-color-box>
    </div>
    <div class="single-palette-footer">
        <p>{{palette.paletteName}}</p>
        <button mat-button color="primary" [routerLink]="['/palette', prev]">
            <mat-icon>keyboard_arrow_left</mat-icon> prev
        </button>
        <button mat-button color="primary" [routerLink]="['/palette', next]">
            next <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <p>{{palette.emoji}}</p>
    </div>
</div>