<div class="palette-container">
    <div class="single-palette-header">
        <div class="slider">
            <mat-slider min="100" max="900" step="100" tickInterval="1" [(ngModel)]="level" color="primary" ></mat-slider>
            <p class="slider-level">{{level}}</p> 
        </div>
        <mat-form-field>
            <!-- <mat-label>Select Format</mat-label> -->
            <mat-select matNativeControl [(ngModel)]="format">
                <mat-option [value]="'hex'">HEX - #000</mat-option>
                <mat-option [value]="'rgb'">RGB - rgb(0,0,0)</mat-option>
                <mat-option [value]="'rgba'">RGBA - rgba(0,0,0, 1.0)</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="palette">
        <app-color-box *ngFor="let color of palette.colors[level]" [name]="color.name" [colorId]="color.id" [background]="color[format]"></app-color-box>
    </div>
    <div class="single-palette-footer">
        <p>{{palette.paletteName}}</p>
        <p>{{palette.emoji}}</p>
    </div>
</div>



<!-- <div *ngFor="let color of palette.colors[level]" [style.background]="color['hex']" class="single-palette">
    <div class="single-palette-name">{{color.name}}</div>
    <div class="single-palette-copy-button">Copy</div>
</div> -->